coef_p_values.csv
CRM_PSI.ipynb
LCDataDictionary.xlsx
lgd_model_1.sav
lgd_model_2.sav
loan_data_2007_2014.csv
loan_data_2015.csv
loan_data_defaults.csv
loan_data_inputs_test.csv
loan_data_inputs_train.csv
pd_model.sav
loan_data_targets_train.csv
loan_data_targets_test.csv
